In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("summer.csv")

In [ ]:
df
	Year	City	Sport	Discipline	Athlete	Country	Gender	Event	Medal
0	1896	Athens	Aquatics	Swimming	HAJOS, Alfred	HUN	Men	100M Freestyle	Gold
1	1896	Athens	Aquatics	Swimming	HERSCHMANN, Otto	AUT	Men	100M Freestyle	Silver
2	1896	Athens	Aquatics	Swimming	DRIVAS, Dimitrios	GRE	Men	100M Freestyle For Sailors	Bronze
3	1896	Athens	Aquatics	Swimming	MALOKINIS, Ioannis	GRE	Men	100M Freestyle For Sailors	Gold
4	1896	Athens	Aquatics	Swimming	CHASAPIS, Spiridon	GRE	Men	100M Freestyle For Sailors	Silver
...	...	...	...	...	...	...	...	...	...
31160	2012	London	Wrestling	Wrestling Freestyle	JANIKOWSKI, Damian	POL	Men	Wg 84 KG	Bronze
31161	2012	London	Wrestling	Wrestling Freestyle	REZAEI, Ghasem Gholamreza	IRI	Men	Wg 96 KG	Gold
31162	2012	London	Wrestling	Wrestling Freestyle	TOTROV, Rustam	RUS	Men	Wg 96 KG	Silver
31163	2012	London	Wrestling	Wrestling Freestyle	ALEKSANYAN, Artur	ARM	Men	Wg 96 KG	Bronze
31164	2012	London	Wrestling	Wrestling Freestyle	LIDBERG, Jimmy	SWE	Men	Wg 96 KG	Bronze
31165 rows Ã— 9 columns

In [ ]:
df.head()
Year	City	Sport	Discipline	Athlete	Country	Gender	Event	Medal
0	1896	Athens	Aquatics	Swimming	HAJOS, Alfred	HUN	Men	100M Freestyle	Gold
1	1896	Athens	Aquatics	Swimming	HERSCHMANN, Otto	AUT	Men	100M Freestyle	Silver
2	1896	Athens	Aquatics	Swimming	DRIVAS, Dimitrios	GRE	Men	100M Freestyle For Sailors	Bronze
3	1896	Athens	Aquatics	Swimming	MALOKINIS, Ioannis	GRE	Men	100M Freestyle For Sailors	Gold
4	1896	Athens	Aquatics	Swimming	CHASAPIS, Spiridon	GRE	Men	100M Freestyle For Sailors	Silver
In how many cities Summer Olympics is held so far?

In [ ]:
print("the total number of cities in which summer olympics were held are :" ,len(df['City'].unique()))
the total number of cities in which summer olympics were held are : 22
2.Which sport is having most number of Gold Medals so far? (Top 5)

In [ ]:
gold = df[df['Medal'] == 'Gold']
gold = gold.groupby('Sport').count()['Medal'].sort_values(ascending = False).head()
print(gold)
gold.plot.bar(figsize =(10,5))
Sport
Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Medal, dtype: int64

        
<matplotlib.axes._subplots.AxesSubplot at 0x7f7c35be5690>

thus aquatics sports has the most number of gold medals

3.Which sport is having most number of medals so far? (Top 5)

In [ ]:
s =df.groupby('Sport').count()['Medal'].sort_values(ascending = False).head()
print(s)
s.plot.bar(figsize = (10, 5))
Sport
Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Medal, dtype: int64
Out[7]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f7c3a6c3d90>

In [ ]:
player = df.groupby('Athlete').count()['Medal'].sort_values(ascending=False).head()
print(player)
player.plot.bar(figsize= (10,5))
Athlete
PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
MANGIAROTTI, Edoardo    13
SHAKHLIN, Boris         13
Name: Medal, dtype: int64
Out[9]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f7c3a023190>
6.In which year India won first Gold Medal in Summer Olympics?

In [ ]:
player=df[df['Medal']=='Gold']
year=player.sort_values(['Year'],ascending=True)

gold=year[year['Country']=='IND'].iloc[0]

print("The year in which India won its first Gold Medal in Summer Olympics is ",gold['Year'] ,"\n")
print(gold)
The year in which India won its first Gold Medal in Summer Olympics is  1928 

Year                 1928
City            Amsterdam
Sport              Hockey
Discipline         Hockey
Athlete       CHAND, Dyan
Country               IND
Gender                Men
Event              Hockey
Medal                Gold
Name: 5513, dtype: object
7.Which event is most popular in terms on number of players? (Top 5)

In [ ]:
popular = df.groupby('Event').count()['Athlete'].sort_values(ascending=False).head()
print(popular)
popular.plot.bar(figsize = (10,5))
Event
Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Athlete, dtype: int64
Out[12]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f7c39f3b850>

In [ ]:
8.Which sport is having most female Gold Medalists? (Top 5)

In [18]:
player_gold=df[df['Medal']=='Gold']
player_female_gold=player_gold[df['Gender']=='Women']
player_female_gold=player_female_gold.groupby('Sport').count()['Medal'].sort_values(ascending=False).head()
print(player_female_gold)
player_female_gold.plot.bar(figsize=(10,5))
Sport
Aquatics      589
Athletics     389
Gymnastics    268
Rowing        217
Volleyball    166
Name: Medal, dtype: int64
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  
Out[18]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f7c35c11dd0>